.filterTag , .resetFiltersTag{
    font-size: small;
    font-weight: bolder;
}
.resetFiltersTag{
    text-align: right;
}
.filter-input{
    border-radius: 10%;
}
.filter-results-input{
    border: none;
    border-radius: 10%;
    height: 3rem;
}
.reset-button{
    cursor:pointer;
}
.filters-zone{
    background-color: white;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    box-shadow: rgba(170, 167, 167, 0.12) 0px 11px 12px,
    rgba(170, 167, 167, 0.12) 0px 0px 0px, rgba(170, 167, 167, 0.12) 0px 2px 3px,
    rgba(170, 167, 167, 0.12) 0px 6px 6px, rgba(170, 167, 167, 0.12) 0px 0px 0px;
}

.search-cars{
    padding-top: 1%;
    padding-bottom: 2%;
    background-image: url(https://cdn.slots.baxter.olx.org/autovit/_assets/image/NewCars_DESTKOP_13_15MAI22.jpg);
    background-size: cover;
}
.filters-results{
    background-color: rgba(138, 136, 136, 0.322);
}

.choices-active{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    width: 25%;
}

.choices{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: whitesmoke;
    width: 25%;
}