form {
  background: white;
  display: flex;
  flex-direction: column;
}
 
  .input-field{
    background-color: whitesmoke;
    border-bottom: 2px solid white;
    border-radius: 2%;
    box-sizing: border-box;
  }:focus{
    outline: 0;
    background-color: white;
    border-bottom: 2px solid blue;
  }
  .input-submit{
    outline: 1px solid #00aeef;
    background-color: blue;
    color: white;
  }
 
  label {
    color: #3d3d3d;
    display: block;
    text-align: left;
  }
  