form {
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
 
  input[type="text"], input[type="password"]{
    background-color: whitesmoke;
    border-radius: 2%;
    box-sizing: border-box;
    width: 100%;
  }:focus{
    outline: 0;
    border-bottom: 2px solid blue;
  }
  input[type="submit"]{
    outline: 1px solid #00aeef;
    background-color: blue;
    color: white;
  }
 
  label {
    color: #3d3d3d;
    display: block;
    text-align: left;
  }
  
  .choices{
    width: 50%;
    border: none;
    background-color: white;
    color: #00aeef;
  }:active{
    border-bottom: 1px solid blue;
    color: blue;
  }